:root {
    --title-linear-gradient: lightpink, #F539B9, #A430E8, #8D2DF6;
    --default-linear-gradient: lightgreen, #34E6BD, #38BBD4, #39A7DF;
}

body {
    color: white;
    background: black;
    font-family: "Space Grotesk", sans-serif;
}

.select {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 1em;
}

.select:after {
    content: "▼";
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#title {
    margin-bottom: 0;
}

#title span {
    color: grey;
}

#disclaimer {
    font-size: x-small;
    color: rgb(105, 105, 105);
    transition: 500ms;
}

#disclaimer span {
    color: rgb(180, 180, 180);
}


#disclaimer:hover {
    transition: 500ms;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
}

.App-link {
    background: -moz-linear-gradient(var(--default-linear-gradient));
    background: -o-linear-gradient(var(--default-linear-gradient));
    background: -ms-linear-gradient(var(--default-linear-gradient));
    background: -webkit-linear-gradient(var(--default-linear-gradient));
    background: linear-gradient(var(--default-linear-gradient));
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.App-link:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

.App-link-title {
    background: -moz-linear-gradient(var(--title-linear-gradient));
    background: -o-linear-gradient(var(--title-linear-gradient));
    background: -ms-linear-gradient(var(--title-linear-gradient));
    background: -webkit-linear-gradient(var(--title-linear-gradient));
    background: linear-gradient(var(--title-linear-gradient));
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.link-wildcard {
    -moz-text-fill-color: grey;
    -o-text-fill-color: grey;
    -ms-text-fill-color: grey;
    -webkit-text-fill-color: grey;
    color: grey;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
